docker_host            = "unix:///var/run/docker.sock"
application_image      = "ghcr.io/YOUR_GITHUB_LOGIN/devops-graduate-app:main"
application_version    = "manual"
image_digest           = "manual"
grafana_admin_password = "CHANGE-ME-123!"
discord_webhook_url     = ""
vm_ip                   = "192.168.56.10"
